h1 {
    color : red;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: beige;
}
button {
    background-color: brown;
    color: beige;
    border-radius: 5px;
}