
p {
    color: brown;
    text-align: justify;
}
li {
    color: brown;
    text-align: justify;
}
a:link {
    color: rgb(2, 15, 119);
    font-weight: 600;
}
a:visited {
    color: rgb(0, 0, 0);
    font-weight: 600;
}
a:hover {
    color: rgb(2, 15, 119);
    font-weight: 600;
}
a:active {
    color: rgb(2, 15, 119);
    font-weight: 600;
}
body {
    background-color: rgb(255, 255, 255);
    margin: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
button {
    background-color: brown;
    color: beige;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 5px 5px 10px gray;
}
button:hover {
    color: lightgoldenrodyellow;
    background-color : rgb(99, 39, 4);
}
button:active {
    color: white;
    background-color : rgb(43, 16, 1);
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 2px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 100%;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color : rgb(99, 39, 4);
  }

.banner{
    width: 100%;
}
.contact_form {
    color: brown;
}

.menubutton {
    font-size: large;
    background-color: brown;
    color: beige;
    border-radius: 4px;
    width: 250px;
    padding: 12px;
    cursor: pointer;
}

.relatedwebsitesbutton {
    font-size: large;
    width: 250px;
}
.bottombutton {
    width: 150px;
}
.outset{
    border-style: outset;
    border-width: 3px;
    border-color: brown;
    border-radius: 4px;
    padding: 10px;
}
/*.textbg {
    background: linear-gradient(rgb(250, 250, 188), rgb(247, 216, 199));
}*/
.textbg {
    background: rgb(255, 243, 210);
}

.menu {
    max-width: fit-content;
    position: fixed;
    left: 20px;
    top: 0px;
}

#navigator {
    font-size: x-large;
    font-weight: 900;
    text-align: center;
}

.navlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
  }

.text {
    color : rgb(99, 39, 4);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: beige;
    position: relative;
    margin-left: auto;
    margin-top: 0px;
    padding: 20px;
    border-color: brown;
    border-width: 10px;
}

.title{
    border-style: outset;
    border-width: 3px;
    border-color: brown;
    border-radius: 10px;
    padding: 10px;
    max-width: fit-content;
    margin-top: -50px;
    top: 50px;
}
.footer{
    font-size: small;
    text-align: center;
}

.text_img{
    max-width: fit-content;
    width: 100%;
    border-radius: 20px;
}

#backhome{
    position:fixed;
    left: 10px;
    top: 10px;
    border-style: outset;
    border-width: 3px;
    border-color: brown;
    border-radius: 10px;
    padding: 3px;
    max-width: fit-content;
    background-color: beige;
    box-shadow: 5px 5px 10px gray;
}

.show{
    display: block;
}