h1 {
    color : red;
    font-family: 'Courier New', Courier, monospace;
}
p {
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-color: beige;
}
button {
    background-color: brown;
    color: beige;
    border-radius: 5px;
}
#menubutton {
    background-color: brown;
    color: beige;
    border-radius: 5px;
    width: 200px;
    align-self: center;
}

#relatedwebsitesbutton {
    background-color: brown;
    color: beige;
    border-radius: 5px;
    width: 250px;
    align-self: normal;
}